strong {
  font-weight: bold;
}
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}

p {
  margin: 0;
}

.text-center {
  text-align: center;
}

.video-wrapper video {
  object-fit: cover;
}

a {
  color: #0288d1;
}
