.content h1,
h2,
h3 {
  color: var(--default-text-color);
}
.intro {
  padding-top: 10%;
  display: flex;
  height: 100vh;
  align-items: flex-start;
  align-self: flex-start;
  flex-direction: column;
  text-align: left;
  background: rgb(19, 108, 138);
  background: -moz-linear-gradient(
    90deg,
    rgba(19, 108, 138, 1) 9%,
    rgba(17, 150, 208, 1) 54%,
    rgba(0, 212, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(19, 108, 138, 1) 9%,
    rgba(17, 150, 208, 1) 54%,
    rgba(0, 212, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(19, 108, 138, 1) 9%,
    rgba(17, 150, 208, 1) 54%,
    rgba(0, 212, 255, 1) 100%
  );
}
@media screen and (max-width: 768px) {
  .intro {
    padding-top: 20%;
  }
}
.intro h1,
h2 {
  display: block;
  margin: 20px;
  color: var(--white);
}
.hello,
.tech-stack,
.web-platform,
.mobile-platform,
.desktop-platform,
.backend-platform,
.cloud-platform,
.testing-platform,
.others-platform {
  margin-top: var(--default-section-margin);
  width: 100%;
}
.hello img {
  width: 200px;
  border-radius: 50%;
}

.hello h2,
h3 {
  color: var(--default-text-color);
  font-weight: 500;
}

.web-container,
.mobile-container,
.desktop-container,
.backend-container,
.cloud-container,
.testing-container,
.others-container {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.web-platform-image,
.web-platform-description,
.mobile-platform-image,
.mobile-platform-description,
.desktop-platform-image,
.desktop-platform-description,
.backend-platform-image,
.backend-platform-description,
.cloud-platform-image,
.cloud-platform-description,
.testing-platform-image,
.testing-platform-description,
.others-platform-image,
.others-platform-description {
  padding: 20px;
  width: 50%;
  color: var(--default-text-color);
}
